@media screen and (max-width: 360px) {


    .wrap-body {
        width: 360px;
    }

    .main-container {
        padding: 10px;
    }

    .header-nav_items,
    .header-buttons .account,
    .header-buttons .reserve,
    .links,
    .press-button {
        display: none;
    }

    .header-logo img {
        width: 174px;
    }

    .header-nav {
        padding: 0;
    }

    .header-buttons .call {
        height: 40px;
        width: 40px;
    }

    .first-screen h1,
    .second-screen .main-menu a {
        font-size: 16px;
        line-height: 19px;
    }

    .card-adv img,
    .small-card {
        height: 103px;
        width: 83px;
        border-radius: 10px;
    }

    .first-screen_cards .first-card h3 {
        font-size: 13px;
        line-height: 12px;
    }

    .first-screen_cards .first-card h2,
    .first-screen_cards .third-card h2 {
        font-size: 20px;
        line-height: 17px;
    }

    .first-screen_cards .first-card p,
    .first-screen_cards .third-card h3 {
        font-size: 8px;
        line-height: 10px;
        padding: 0 15px;
        text-align: center;
    }
    .main-menu {
        padding: 0 0 17px 0;
    }

    .first-screen_cards .third-card p {
        font-size: 5px;
        line-height: 8px;
        margin: 0 100px;
    }

    .search-box input {
        height: 29px;
        font-size: 9px;
        padding: 10px;
    }

    .search-box {
        margin: 0;
    }

    .search-box button {
        width: 30px;
        height: 30px;
    }
    .press-button {
     /*height: 30px;*/
    }
    .search-box img {
        width: 20px;
    }






}
