* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Suisse Intl;
}

.wrap-body {
    max-width: 1600px;
    margin: auto;
    background: #222220;
}

.main-container {
    padding: 0 208px;
}

.d-flex {
    display: flex;
}

.header a,
.second-screen .detail-menu a,
.second-screen .main-menu a {
    text-decoration: none;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    grid-column-gap: 46px;
    padding: 34px 0 60px 0;
}

.header-nav_items {
    grid-column-gap: 25px;
    align-items: center;
}

.header-nav_item a,
.second-screen .detail-menu a {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;

}

button {
    border: none;
    background: #CB3B48;
    color: #FFFFFF;
    transition: .3s;
}

button:hover {
    background: #222220;
    box-shadow: 0 0 20px rgba(189, 45, 67, 0.5);
}

.header-buttons {
    grid-column-gap: 25px;
}

.header-buttons .account,
.header-buttons .call {
    height: 50px;
    width: 50px;
}

.b-radius {
    border-radius: 5px;
}

.header-buttons .reserve,
.first-screen a,
.press-button button,
.content,
.show-more,
.footer-links a {
    font-size: 16px;
    line-height: 19px;

}

.header-buttons .reserve {
    padding: 15px 18px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

.first-screen {
    background-image: url("icons/first bg.png");
}

.first-screen a {
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.header a:hover,
.first-screen a:hover,
.second-screen .detail-menu a:hover,
.second-screen .main-menu a:hover {
    color: #676767;
    text-decoration: none;
    transition: .3s;
}

.first-screen h1,
.second-screen .main-menu a {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10px;
}

.first-screen_cards {
    grid-column-gap: 18px;
    padding-top: 32px;
    padding-bottom: 68px;
}

.first-card {
    background-image: url("icons/card-off.png");
}

.first-screen_cards .first-card h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 31px;
    text-transform: uppercase;
    color: #CB3B48;
    text-shadow: 0 0 36px rgba(203, 59, 72, 0.5);
}

.first-screen_cards .first-card h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #CB3B48;
    text-shadow: 0 0 36px rgba(203, 59, 72, 0.5);
}

.first-screen_cards .first-card p,
.first-screen_cards .third-card p {
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.card-adv img {
    border-radius: 30px;
}

.small-card {
    flex-direction: column;
    background-color: #1c1817;
    width: 225px;
    height: auto;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.third-card {
    background-image: url("icons/1+1.png");
}

.first-screen_cards .third-card h2 {
    font-weight: bold;
    font-size: 68px;
    line-height: 79px;
    align-items: center;
    color: #C7434F;
}

.first-screen_cards .third-card h3 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-menu {
    grid-column-gap: 40px;
    padding-bottom: 32px;
    padding-top: 17px;
}

.detail-menu {
    flex-wrap: wrap;
    grid-column-gap: 35px;
    grid-row-gap: 10px;
    justify-content: space-between;
    padding-bottom: 35px;
}

.search-box {
    height: auto;
    margin-left: 33px;
}

.search-box input {
    font-size: 16px;
    height: 50px;
    padding: 15px;
    background: #222220;
    border: 1px solid #B7B7B7;
    border-right-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-box input:active {
    background: #fff;
}

.search-box button {
    width: 51px;
    height: 51px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.press-button {
    grid-column-gap: 20px;
}

.press-button button {
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #C7434F;
    border-radius: 30px;
    padding: 5px 15px;
}

.press-button button:after {
    content: "x";
    padding-left: 5px;
}

.press-button button:hover {
    color: #676767;
    border: 1px solid #6DAB58;
    filter: drop-shadow(0px 0px 10px #6DAB58);
    border-radius: 100px;
}


button.filter-button {
    background: #CB3B48;
    box-shadow: 0 0 15px #CB3B48;
    border-radius: 5px;
    align-items: center;

}

button.filter-button:hover {
    background: #1c1817;
    box-shadow: 0 0 15px #CB3B48;
    border: none;
    border-radius: 5px;
}

button.filter-button img {
    float: right;
}

button.filter-button:after {
    content: "";
}

.third-screen {
    justify-content: space-between;
    margin-top: 50px;

}

.second-part__grid,
.big-card_right__grid,
.footer-label {
    background-color: rgb(0, 0, 0, .5);
    height: 100%;
}

.second-part {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 178px;
    width: 380px;
    background-image: url("icons/bg.jpg");
    overflow: hidden;
}

.middle-card {
    align-items: center;
}

.second-part__grid_h2 {
    align-items: center;
    height: 50px;
}

.second-part__grid_h2 > h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 33px;
}

.content {
    text-align: center;
    color: #CB3B48;
    padding-left: 33px;
    grid-column-gap: 30px;

}

.bottom-content {
    margin-left: 33px;
    margin-right: 15px;
    justify-content: space-between;
    padding: 15px 0 25px 0;
}


.bottom-content > div {
    align-items: flex-end;

}

.bottom-content h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.bottom-content .cart {
    padding: 7px 8px;
    margin-left: 5px;
    cursor: pointer;
}

.bottom-content .detail {
    background: #ffffff;
    color: #CB3B48;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 18px;
    cursor: pointer;

}

.c-fff {
    color: #ffffff;
}

.middle-cart_last_part img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}

.big-card {
    padding-top: 40px;
}

.big-card__grid_contents {
    flex-direction: column;
    padding-left: 30px;
    grid-row-gap: 25px;
    padding-top: 50px;
}

.big-card_right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 550px;
    width: 750px;
    background-image: url("icons/bg.jpg");
    overflow: hidden;
    flex-direction: column;
}

.big-card_right h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.big-card__grid_content {
    font-size: 18px;
    line-height: 21px;
    color: #CB3B48;

}

.big-card__grid_description {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 100px;

}


.number {
    user-select: none;
    position: relative;
    text-align: left;
    padding: 0;
    width: 90px;
    display: inline-block;
    align-self: center;
    border-radius: 5px;
}

.number-minus, .number-plus {
    position: absolute;
    top: 0;
    width: 22px;
    height: 30px;
    line-height: 32px;
    display: block;
    background: #CB3B48;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: arial;
    color: #ffffff;
    text-decoration: none;
}

.number-minus {
    left: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.number-plus {
    right: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.number-minus:hover, .number-plus:hover {
    background: #676767;
}

.number-minus:active, .number-plus:active {
    background: #676767;
}

.number-text {
    display: inline-block;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 17px;
    background: #fff;
    outline: none;
    border: none;
    width: 55px;
    text-align: center;
}

.big-card_button_price {
    background: white;
    border-radius: 0 42px 42px 0;
}

.big-card_button_prices h2 {
    font-weight: bold;
    font-size: 44px;
    line-height: 51px;
    text-transform: uppercase;
    color: #CB3B48;
    text-align: center;
}

.big-card_button_prices {
    padding: 4px 30px;
    align-items: baseline;
}

.big-card_button_prices p {
    color: #CB3B48;

}

.big-card_buttons {
    grid-column-gap: 28px;
    margin-top: 48px;
}

.big-card_button button {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 18px;
    cursor: pointer;

}

.big-card_menu {
    justify-content: space-evenly;
    padding-top: 70px;
}

.big-card_menu a {
    font-size: 14px;
    line-height: 16px;

}

.big-card_menu a {
    align-items: center;
    text-transform: uppercase;
    color: #A5344A;
    text-decoration: none;
    transition: 500ms;
    cursor: pointer;
}

.big-card_menu a:hover {
    color: #6DAB58;
    filter: drop-shadow(0px 0px 10px #6DAB58);
}

.show-more_button {
    justify-content: center;
    padding: 60px 0 50px 0;
}

.show-more {
    text-align: center;
    text-transform: uppercase;
    padding: 14px 34px;
    border-radius: 100px;
    cursor: pointer;
}

.footer {
    background-image: url("icons/bg.jpg");
    overflow: hidden;
    height: 150px;
}

.footer-label img {
    width: 330px;
}

.footer-first_part {
    justify-content: space-between;
    padding-top: 30px;
}

.footer-links a {
    display: flex;
    align-items: center;
    color: #DCDCDC;
    text-decoration: none;
}

.footer-links {
    flex-wrap: wrap;
    width: 320px;
    grid-column-gap: 57px;;
}

.footer-contacts h2 {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #BD2D43;

}

.footer-last_part {

    justify-content: space-evenly;
    padding-top: 25px;
}

.footer-contacts p,
.footer-last_part a,
.footer-last_part p {
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;
}

.footer-contacts p {
    align-items: center;
    text-align: right;
}